<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s1.movie1x">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".zeroApp"

        >
    <activity android:name=".main_activity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>
        <provider
            android:authorities="com.s1.realm.provider"
            android:name="com.s1.movie1x.content_provider.Movie_Content_Provider"
            android:exported="false"
            android:enabled="true"/>
    </application>

</manifest>
